<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script src="../Js/jquery-1.11.3.min.js"></script>
    <script src="../Js/jquery-qrcode-master/jquery.qrcode.min.js"></script>
</head>
<body>
    <div id="code"></div>
    <script>
        //table 模式兼容 IE低版本
        $('#code').qrcode({
            render: 'table',
            width: 100,
            height: 100,
            text: 'http://blog.csdn.net/u011127019'
        });
    </script>
</body>
</html>
